#history {
  height: 90vh;
  padding: 5vh 0 5vh 0;
  color: black;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.9)) ,url('../../images/nate_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#history h1 {
  color: #479BAC;
}

.saved-urls {
  height: 100%;
}

.saved-url {
  font-size: 18px;
  background: none;
  border: none;
  opacity: 0.5;
  padding: 5px 0 5px 0;
}

.saved-url:hover {
  opacity: 1;
  border: none;
}
